/* styles.css */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; /* Add background color to your header */
    color: #fff; /* Set text color */
    height: 100px; /* Adjust header height as needed */
}

.logo {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: top; /* Center the content vertically */
    margin-top: 20px; /* Add spacing between logo and app title */
}

.button {
    display:flex;
    width: 50%; /* Set the button width to half the page width */
    margin: 0 auto; /* Center the button horizontally */
    height: 25px;
    line-height: 25px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #77d4fc;
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: bold;
}

/* styles.css */
.upload-button {
    width: 50%; /* Set the button width to half the page width */
    margin: 0 auto; /* Center the button horizontally */
    height: 25px;
    line-height: 25px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #77d4fc;
    font-family: 'Roboto';
}

.large {
    width: 50%;
    height: 4vh;
}

.invis {
    display:none;
}

.vis {
    display:flex
}

.map-container {
    /* justify-content: center;
    align-items: center; */
    margin: 0 auto;
    width: 100%; /* Set the map width to 80% of the screen */
    height: 97vh; /* Set the map height to 80% of the viewport height */
}

.copyright {
    text-align: center; /* Center-align the copyright message */
    margin-bottom: 10px; /* Add spacing between the message and icons */
    color: #777; /* Text color for the copyright message */
}

.introduction-text {
    font-size: 20px;
    max-width: 1000px;
    margin: 20px auto;
    text-align: left;
    font-family: 'Roboto';
}

.upload-button-large {
    width: 50%;
    margin: 20px auto;
}

.upload-button-small {
    width: 20%; /* Adjust the size for small button as needed */
    margin: 20px auto;
}

.footer{
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom:0;
    width:98%;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0; /* Place the icons at the bottom */
    left: 34%; /* Center horizontally on the left side */
    width: 28%; /* Full width */
    margin-top: 20px;
    margin-bottom:0; /* Adjust the margin as needed */
    background-color: #007BFF;
}

.social-icons a {
    color: rgb(255, 255, 255);  /* Icon color */
    font-size: 36px;  /* Icon size */
    margin: 0 10px;  /* Adjust spacing between icons as needed */
    margin-bottom:0; /* Adjust the margin as needed */

}

.social-icons a:hover {
    color: #000000;  /* Icon color on hover */
    margin-bottom:0; /* Adjust the margin as needed */

}